<meta name="viewport" content="width=device-width, initial-scale=1.0">

@{
    ViewData["Title"] = "Favorites";
}
@model List<Restaurants>
@if (Model.Count == 0)
{
<h3>You dont have any favorites. Please head over to <a href="../Home/Discover">Discover</a>.</h3>
}
else
{
    <div id="desktop">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Restaurants</th>
                    <th>Zip Code</th>
                    <th>Your Rating</th>
                    <th>Notes</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var favorite in Model)
            {
                <tr>
                    <td>@favorite.Name</td>
                    <td>@favorite.ZipCode</td>
                    <td>@favorite.UserRating</td>
                    <td style="max-width: 400px; min-width: 400px;">@favorite.Notes</td>
                    <td><a class="btn btn-outline-primary btn-group-sm" href="../Home/EditRestaurant?id=@favorite.Id">Update</a></td>
                    <td><a class="btn btn-outline-danger btn-group-sm" href="../Home/RemoveRestaurant?id=@favorite.Id">🗑️</a></td>
                </tr>
            }

        </table>
    </div>
<div id="mobile">
    <table role="table">
        <thead role="rowgroup">

        </thead>
        <tbody role="rowgroup">
            @foreach (var favorite in Model)
            {
            <tr role="row">
                <td role="cell">@favorite.Name</td>
                <td role="cell">@favorite.ZipCode</td>
                <td role="cell">@favorite.UserRating</td>
                <td role="cell">@favorite.Notes</td>
                <td>
                    <a class="btn btn-outline-primary btn-group-sm" href="../Home/EditRestaurant?id=@favorite.Id">Update</a>
                    <a class="btn btn-outline-danger btn-group-sm" href="../Home/RemoveRestaurant?id=@favorite.Id">🗑️</a>
                </td>
            </tr>
            }
        </tbody>
    </table>

</div>
}
<style type="text/css">
    div {
        word-wrap: break-word;
    }

    #desktop {
        display: inline;
    }

    #mobile {
        display: none;
    }

    @@media only screen and (max-width: 768px) {

        #desktop {
            display: none;
        }

        #mobile {
            display: inline;
        }
        /* Force table to not be like tables anymore */
        table, thead, tbody, th, td, tr {
            display: block;
        }
            /* Hide table headers (but not display: none;, for accessibility) */
            thead tr {
                position: absolute;
                top: -9999px;
                left: -9999px;
            }

        tr {
            margin: 0 0 1rem 0;
        }

            tr:nth-child(odd) {
                background: #ccc;
            }

        td {
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 50%;
        }

            td:before {
                /* Now like a table header */
                position: absolute;
                /* Top/left values mimic padding */
                top: 0;
                left: 1%;
                padding-right: 1%;
                white-space: nowrap;
            }

            td:nth-of-type(1):before {
                content: "Restaurant";
            }

            td:nth-of-type(2):before {
                content: "Zip Code";
            }

            td:nth-of-type(3):before {
                content: "Your Rating";
            }

            td:nth-of-type(4):before {
                content: "Note";
            }
    }
</style>